html{
    font-family: Georgia;
    background-color: #E6E6E6;
}

.title {
  background-color: #CCCCCC;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 2px groove black;
}

.title p {
  font-family: cursive;
  font-size: 100px;
  margin: 0px;
  line-height: 125px;
}

.title ul {
  position: relative;
  top: -2px;
  display: block;
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 0px ;
  margin-top: 0px;
  height:12px;
}

.title ul li {
  position: relative;
  top:10px;
  padding: 0px 5px 0px 5px;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
}

.title a {
  padding: 5px 12px 5px 12px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #E6E6E6;
}

a {
  text-decoration:none;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  background-color:gold;
}

.main-body {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 15px;
}

.left-col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
}

.right-col {
  text-align: left;
  position: relative;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
}

.mid-col {
  border-left: 1px groove black;
  border-right: 1px groove black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-height: 60%;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}


h3 {
  font-size: 17px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 50px;
  font-size: 10px;
  text-align: center;
  border-top: 1px groove black;
}

.mid-col p {
  text-align: top;
  font-size: 20px;
  padding-bottom: 30px;
}

#profile-pic {
  float: left;
  padding-right: 50px;
  padding-bottom: 20px;
  zoom: 17%;
}

#chiskyline {
  display:block;
  float: left;
  zoom:55%;
  padding-right: 20px;
  padding-bottom: 20px;
}

#houskyline {
  display:block;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  zoom:6%;
}

#puimg {
  float: right;
  zoom: 35%;
}

.mid-col div p{
  display: inline-block;
}

.left-col p;
.right-col p {
  font-size: 14px;
  position: relative;
  margin-top: 5px;
}

.social-icons {
  position: absolute;
  right:70px;
  top: -20px;
}

#icon {
  display: inline-block;
  border: 2px solid black;
  top:12px;
  border-radius: 10px;
  width: 38px;
  height: 38px;
}