html{
    font-family: Georgia;
    background-color: #E6E6E6;
}

.header {
  background-color: #CCCCCC;
  text-align: center;
  width: 100%;
  min-height: 175px;
  font-size: 25px;
  border-bottom: 2px groove black;
}

.home-row-links {
  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 10px ;
  margin-top: 0px;
}

.home-row-links li {
  display:inline-block;
}

#title {
  font-size: 110px;
  margin: 0px;
  max-height: 135px;
}

.title-text-link {
  position: relative;
  margin-top: 0px;
  display: inline-block;
  text-align: center;
  padding: 5px 12px 5px 12px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #E6E6E6;
}

a.title-text-link:hover {
  background-color: #FDD017;
}

a {
  text-decoration:none;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

.main-body {
  width: 100%;
  display: inline-block;
  font-size: 16px;
}

.mid-col a:hover {
  background-color: #FDD017;
  /*color: #FDD017;*/
}

.left-col {
  margin-top: 15px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
}

.right-col {
  margin-top: 15px;
  text-align: left;
  position: relative;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
}

.mid-col {
  margin-top: 30px;
  margin-bottom: 30px;
  border-left: 1px groove black;
  border-right: 1px groove black;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}


h3 {
  font-size: 17px;
}

.footer {
  background-color: #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: 1px groove black;
}

.mid-col p {
  text-align: top;
  font-size: 20px;
  padding-bottom: 25px;
}

.mid-col img {
  display:block;
  padding-bottom: 20px;
}

#profile-pic {
  float: left;
  padding-right: 10px;
  height: 150px;
}

#chiskyline {
  float: left;
  padding-right: 10px;
  height: 120px;
}

#houskyline {
  float: right;
  padding-left: 10px;
  height: 150px;
}

#puimg {
  float: right;
  height: 150px;
}

.mid-col div p{
  display: inline-block;
}

.left-col p;
.right-col p {
  font-size: 14px;
  position: relative;
  padding-top: 5px;
}

#icon {
  border:1px solid black;
  border-radius: 10px;
  height: 38px;
  margin-right:10px;
  margin-left:10px;
}

#twitter-feed {

}

#twitter_update_list a[style="font-size: 85%;"] {
font-size: 1em !important;
}

.twitter-list {
list-style:none; /* This removes the bullet in the list. */
margin:0 0 0 0; /* This moves the indent over in the list. */
padding: 0 0 0 0; /* This moves the indent over in the list. */
display: block; /* This moves the indent over in the list. */
}

.twitter-list li {
border-bottom: 2px dashed #009999; /* This is the color of the divider. */
padding: 7px 0 7px 0; /* This is the padding around the divider. */
margin-bottom: 9px; /* This gives space below the divider. */
}

.twitter_title{
font-family: "Comic Sans MS", Calibri, Arial;
font-size: 18px;
font-weight: bold;
color: #000000;
}