html{
  font-family: Georgia;
  background-color: #CCCCCC;
}

.title {
  text-align: center;
  width: 100%;
  border-bottom: 2px groove black;
}

a {
  text-decoration:none;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  background-color:gold;
}

.name {

}

.ans {

}
