html{
    font-family: Georgia;
    background-color: #E6E6E6;
}

.title {
  background-color: #CCCCCC;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 2px groove black;
}

.title p {
  font-family: cursive;
  font-size: 100px;
  margin: 0px;
}

.title ul {
  display: block;
  border: 0px solid black;
  padding-left: 0px;
  margin-bottom: 8px ;
  margin-top: 0px;
}

.title ul li {
  display: inline-block;
  text-align: center;
}

.title a {
  padding: 5px 12px 5px 12px;
  border: 2px solid black;
  border-radius: 10px;
}

a {
  text-decoration:none;
}

a:hover {
  background-color:gold;
}

.main-body {
  width: 100%;
  display: inline-block;
  font-size: 16px;
}

.left-col {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
}

.right-col {
  text-align: left;
  position: relative;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
}

.mid-col {
  border-left: 1px groove black;
  border-right: 1px groove black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}


h3 {
  font-size: 17px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 75px;
  font-size: 10px;
  text-align: center;
  border-top: 1px groove black;
}